<section class="about" id="about">
  <div class="container">
    <h2 class="about-title">Традиції смаку</h2>
    <div class="about-box">
      <div class="about-img"></div>
      <div class="about-info-section">
        <img
          class="about-sign"
          srcset="./images/iso/iso_@1x.png 1x, ./images/iso/iso_@2x.png 2x"
          src="./images/iso/iso_@1x.png"
          alt="знак якості"
        />
        <div class="about-text">
          <p>
            Ми — український виробник плавлених ковбасних, пастоподібних сирів
            та сирних продуктів. На ринку з 2007 року. За роки діяльності ми
            здобули довіру споживачів завдяки стабільній якості, відповідальному
            підходу до виробництва та любові до своєї справи.
          </p>
          <p>
            У виробництві ми використовуємо виключно сертифіковану сировину,
            дотримуємося сучасних технологій і застосовуємо натуральне копчення,
            що надає нашій продукції насичений смак і характерний аромат. Усі
            виробничі процеси відповідають міжнародним стандартам якості, що
            підтверджено сертифікатами ISO.
          </p>
          <p>
            Наша мета — створювати якісні та смачні сирні продукти, якими можна
            пишатися, підтримуючи українське виробництво та пропонуючи
            споживачам чесний і безпечний продукт.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
