<section class="choice">
  <div class="container">
    <h2 class="choice-title">Чому обирають саме нас</h2>
    <ul class="choice-list">
      <li class="choice-list-item">
        <svg class="choice-icon" width="200" height="200">
          <use href="./images/icons.svg#icon-naturalness"></use>
        </svg>
        <h4 class="choice-subtitle">натуральні<br />інгрідієнти</h4>
      </li>
      <li class="choice-list-item">
        <svg class="choice-icon" width="200" height="200">
          <use href="./images/icons.svg#icon-quality"></use>
        </svg>
        <h4 class="choice-subtitle">контроль<br />якості</h4>
      </li>
      <li class="choice-list-item">
        <svg class="choice-icon" width="200" height="200">
          <use href="./images/icons.svg#icon-tradition"></use>
        </svg>
        <h4 class="choice-subtitle">традиційні<br />рецепти</h4>
      </li>
    </ul>
  </div>
</section>
