<footer class="footer" id="contacts">
  <div class="container">
    <div class="footer-wrapper">
      <address class="footer-address">
        <svg class="footer-address-icon" width="32" height="32">
          <use href="./images/icons.svg#icon-locate"></use>
        </svg>
        <p>
          62162 Харківська область<br />Богодухівський район<br />село
          Сазоно-Баланівка
          <br />
          вулиця Центральна, 75
        </p>
      </address>
      <ul class="footer-info">
        <li class="footer-info-item">
          <svg
            class="footer-info-icon"
            width="24"
            height="24"
            aria-hidden="true"
          >
            <use href="./images/icons.svg#icon-phone"></use>
          </svg>
          <p class="footer-info-text">+38(05758)-3-48-63</p>
        </li>
        <li class="footer-info-item">
          <svg
            class="footer-info-icon"
            width="24"
            height="24"
            aria-hidden="true"
          >
            <use href="./images/icons.svg#icon-phone"></use>
          </svg>
          <p class="footer-info-text">+38(067)-577-62-68</p>
        </li>
        <li class="footer-info-item">
          <svg
            class="footer-info-icon"
            width="24"
            height="24"
            aria-hidden="true"
          >
            <use href="./images/icons.svg#icon-mail"></use>
          </svg>
          <p class="footer-info-text">tov-dobrosmak75@ukr.net</p>
        </li>
      </ul>
      <div class="footer-box">
        <button class="footer-btn js-open-form" type="button">
          <svg class="footer-btn-icon" width="24" height="24">
            <use href="./images/icons.svg#icon-pencil"></use>
          </svg>
          написати листа
        </button>
        <ul class="footer-messengers" aria-label="Доступні мессенджери">
          <li class="footer-messenger-item" title="Viber">
            <svg
              class="footer-messenger-icon"
              width="32"
              height="32"
              aria-hidden="true"
            >
              <use href="./images/icons.svg#icon-viber"></use>
            </svg>
          </li>
          <li class="footer-messenger-item" title="Telegram">
            <svg
              class="footer-messenger-icon"
              width="32"
              height="32"
              aria-hidden="true"
            >
              <use href="./images/icons.svg#icon-telegram"></use>
            </svg>
          </li>
          <li class="footer-messenger-item" title="Whatsapp">
            <svg
              class="footer-messenger-icon"
              width="32"
              height="32"
              aria-hidden="true"
            >
              <use href="./images/icons.svg#icon-whatsapp"></use>
            </svg>
          </li>
          <li class="footer-messenger-item" title="Mail">
            <svg
              class="footer-messenger-icon"
              width="32"
              height="32"
              aria-hidden="true"
            >
              <use href="./images/icons.svg#icon-mail"></use>
            </svg>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-line"></div>
    <p class="footer-upper-text">
      ДОБРОСМАК &#8482; &#169; 2007-2026. Всі права захищені
    </p>
  </div>
</footer>
